@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-grey500: #5e6e85;
  --color-grey300: #acc1de;
  --color-blue900: #253347;
  --color-blue500: #345ff6;
  --color-blue300: #b3d3f1;
  --color-blue100: #e1e7fe;
  --color-gradientStart: #d6fcfe;
  --color-gradientEnd: #d6e6fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer {
  .backy {
    background-image: linear-gradient(to right, #fff 0%, #d6e6fe);
  }
  .backy2 {
    background-image: linear-gradient(to right, #fff 0%, #e1e7fe);
  }
}
